@using GameOfLife.Models
@model Cell[,]
@{
    ViewBag.Title = "Home Page";
}

<table>
    @for (int row = 0; row < Model.GetLength(0); row++)
    {
        <tr>
            @for (int column = 0; column < Model.GetLength(1); column++)
            {
                if (Model[row, column].state)
                {
                    <td style="height: 10px; width: 10px; background: green; display: inline-block; margin: 1px;"></td>
                }
                else
                {
                    <td style="height: 10px; width: 10px; background: red; display: inline-block; margin: 1px;"></td>
                }
            }
        </tr>
    }
</table>

<button id="update-grid">Update Grid</button>

<script type="text/javascript">
    $("#update-grid").on('click', function() {
        let ajaxURL = "/Home/UpdateGrid";

        $.ajax({
            type: "POST",
            url: ajaxURL,
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function(response) {
                $("body").html(response);
            },
            error: function(data) {
                console.log("The Request Failed");
                console.log(data);
            }
        });
    })
</script>
